<h2><?php echo $this->translate('Your message has been sent!') ?></h2>
<p><?php echo $this->translate('The Curriculum vitae owner will receive soon your message.') ?>
<p><?php echo $this->translate('Thanks for using EuroCv.eu') ?></p>

<a class="btn btn-success" href="/"><?php echo $this->translate('Back') ?></a>