
<?php if ($this->error): ?>
    <div class="alert alert-danger">
        <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
    </div>
<?php endif ?>


<?php 

    $user = $this->user;
    $form = $this->form;
    $fullname = $user->getFirstname() . " " . $user->getLastname();
    
    foreach ($form->getElements() as $element){
        echo $this->formElementErrors($element);
    }
    
    $form->setAttribute('action', $this->url('pac/private', array('action' => 'process', 'pac' => $user->getPac())));
    $form->setAttribute('method', 'post');
    $form->prepare();
    $this->headTitle()->prepend(sprintf($this->translate("%s's Private Curriculum Vitae et Studiorum - Europass"), $fullname));
    echo $this->form()->openTag($form);
?>

<div class="resume br-white">
    <div class="row">
        <div class="col-md-12">
            <h2><?php echo $user->getFirstname() ?> <?php echo $user->getLastname() ?></h2>
            <p><?php echo $this->jobcategory($user->getJobcategoryId()) ?></p>
            <p><?php echo $this->keywords($user->getKeywords()) ?></p>
            <p><?php echo sprintf($this->translate('The curriculum belonging to %s is NOT public. If you would like to receive a copy of the curriculum, enter your email address and the system will contact %s. If you are %s, please login by your credencials here %s.'), $fullname, $fullname, $fullname, "<a href='".$this->url('www')."user'>" . $this->translate('login') . "</a>")?>
            <div class="form-group">
                <?php echo $this->formLabel($form->get('fullname')); ?>
                <?php echo $this->formElement($form->get('fullname')); ?>
                <?php echo $this->formElementErrors($form->get('fullname')); ?>
            </div>  
            <div class="form-group">
                <?php echo $this->formLabel($form->get('email')); ?>
                <?php echo $this->formElement($form->get('email')); ?>
                <?php echo $this->formElementErrors($form->get('email')); ?>
            </div>  
            <div class="form-group">
                <?php echo $this->formLabel($form->get('request')); ?>
                <?php echo $this->formElement($form->get('request')); ?>
                <?php echo $this->formElementErrors($form->get('request')); ?>
            </div>  
            <div class="form-group">
                <?php echo $this->formLabel($form->get('captcha')); ?>
                <?php echo $this->formElement($form->get('captcha')); ?>
                <?php echo $this->formElementErrors($form->get('captcha')); ?>
            </div>  
             <div class="text-right">
                <?php echo $this->formElement($form->get('csrf')); ?>
                <?php echo $this->formElement($form->get('submit')); ?>
            </div>
            
            <?php if($user->getCreatedAt()): ?><span class="label label-info" title="<?php echo sprintf($this->translate('This curriculum has been created at %s'), $this->datetime($user->getCreatedAt())) ?>"><i class="fa fa-calendar"></i> <?php echo $this->datetime($user->getCreatedAt())?></span><?php endif; ?>
            <?php if($user->getUpdatedat()): ?><span class="label label-warning" title="<?php echo sprintf($this->translate('This curriculum has been updated at %s'), $this->datetime($user->getUpdatedat())) ?>"><i class="fa fa-calendar"></i> <?php echo $this->datetime($user->getUpdatedat())?></span><?php endif; ?>
        </div>
    </div>
</div>

<?php echo $this->form()->closeTag() ?>