<div class="row header">
    <div class="col-lg-12">
        <h3><?php echo $this->translate('Retrieve EuroCv access information for your EuroCV account.') ?></h3>
        <small><?php echo sprintf($this->translate('Change Password for %s'), $this->zfcUserDisplayName()); ?></small>
    </div>    
</div>

<?php if ($status === true) : ?>
    <div class="row"><div class="col-lg-12"><div class="alert alert-success"><?php echo $this->translate('Password changed successfully.');?></div></div></div>
<?php elseif ($status === false) : ?>
    <div class="row"><div class="col-lg-12"><div class="alert alert-danger"><?php echo $this->translate('Unable to update your password. Please try again.'); ?></div></div></div>
<?php endif; ?>

<?php

$form = $this->changePasswordForm;

$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/changepassword'));
$form->setAttribute('method', 'post');

$emailElement = $form->get('identity');
$emailElement->setValue($this->zfcUserIdentity()->getEmail());

?>
<div class="row">
    <div class="col-md-6">
        <?php echo $this->form()->openTag($form) ?>
            <?php echo $this->formInput($form->get('identity')); ?>
            <?php echo $this->formElementErrors($form->get('identity')) ?>
            
            <?php echo $this->formLabel($form->get('credential')) ?>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <?php echo $this->FormElement($form->get('credential')->setAttributes(array('class' => 'form-control', 'placeholder'=>$this->translate('type here your password')))) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('credential')) ?>
            
            <?php echo $this->formLabel($form->get('newCredential')) ?>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <?php echo $this->FormElement($form->get('newCredential')->setAttributes(array('class' => 'form-control', 'placeholder'=>$this->translate('type here your new password')))) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('newCredential')) ?>
            
            <?php echo $this->formLabel($form->get('newCredentialVerify')) ?>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <?php echo $this->FormElement($form->get('newCredentialVerify')->setAttributes(array('class' => 'form-control', 'placeholder'=>$this->translate('type again your new password')))) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('newCredentialVerify')) ?>
            
            <?php if ($this->redirect): ?>
                <input type="hidden" name="redirect" value="<?php echo $this->escapeHtml($this->redirect) ?>" />
            <?php endif ?>
        
            <div class="form-group">
                <?php echo $this->formInput($form->get('submit')->setAttributes(array('class' => 'btn btn-success', 'value' => $this->translate('Save')))); ?> 
            </div>
            <div class="form-group">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                    <a href="/user"><?php echo $this->translate('Go back')?></a>
                </div>
            </div>    
        
        <?php echo $this->form()->closeTag() ?>
    </div>
    
    <div class="col-md-6">
    </div>
</div>
