<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->partial('partial/head.phtml'); ?> 
    </head>

  <body>

        <?php echo $this->partial('partial/header.phtml'); ?> 	
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <?php echo $this->flashMessage(); ?>
                    <?php echo $this->content; ?>
                </div>
            </div>
        </div>
    
        <?php echo $this->inlineScript()
				->appendFile('//code.jquery.com/jquery.min.js')
		        ->appendFile('//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
		        ->appendFile('/js/bootstrap-hogan-2.0.0.js')
		        ->appendFile('/js/bootstrap-typeahead.min.js')
		        ->appendFile('/js/bootstrap-switch.min.js') 
		        ->appendFile('/js/admin.js')
        ?>
    </body>
</html>
