<?php $this->headTitle()->prepend($this->translate('Competences & Skills')); ?>

<?php echo $this->toolbar(true); ?>

<div class="row header">
    <div class="col-lg-12">
        <h2><?php echo $this->translate('Competences & Skills') ?></h2>
        <p><?php echo $this->translate('Describe the competences and indicate where they were acquired.') ?></p>
    </div>
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>


<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'cs', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    
    echo $this->form()->openTag($form);
?>

 <div class="text-right">
    <a href="/cv/cs/add" class="btn btn-default"><i class="fa fa-file"></i> <?php echo $this->translate('Add new')?></a>
    <?php echo $this->formElement($form->get('submit')); ?>
    <a href="/cv/cs/list" class="btn btn-info"><i class="fa fa-arrow-left"></i> <?php echo $this->translate('Back')?></a>
</div>

<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab2"><?php echo $this->translate('Technical');?></a></li> 
		<li><a data-toggle="tab" href="#tab3"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1"> 
            
            <div class="row">
                <div class="col-lg-12">
                   <div class="form-group">
                        <?php echo $this->formLabel($form->get('personal')); ?>
                        <?php echo $this->formElement($form->get('personal')); ?>
                        <?php echo $this->translate('Acquired in the course of life and career but not necessarily covered by formal certificates and diplomas.')?>
                        <?php echo $this->formElementErrors($form->get('personal')); ?>
                    </div>     
                        
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('social')); ?>
                        <?php echo $this->formElement($form->get('social')); ?>
                        <?php echo $this->translate('Living and working with other people, in multicultural environments, in positions where communication is important and situations where teamwork is essential (for example culture and sports), etc')?>
                        <?php echo $this->formElementErrors($form->get('social')); ?>
                    </div>        
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('organisational')); ?>
                        <?php echo $this->formElement($form->get('organisational')); ?>
                        <?php echo $this->translate('Coordination and administration of people, projects and budgets; at work, in voluntary work (for example culture and sports), at home, etc')?>
                        <?php echo $this->formElementErrors($form->get('organisational')); ?>
                    </div>  
                </div>
            </div>
	    </div>
	    
	    <div class="tab-pane" class="tab-pane" id="tab2">
	        <div class="row">
                <div class="col-lg-12">
                     <div class="form-group">
                        <?php echo $this->formLabel($form->get('technical')); ?>
                        <?php echo $this->formElement($form->get('technical')); ?>
                        <?php echo $this->translate('With computers, specific kinds of equipment, machinery, etc')?>
                        <?php echo $this->formElementErrors($form->get('technical')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('computer')); ?>
                        <?php echo $this->formElement($form->get('computer')); ?>
                        <?php echo $this->translate('Describe your computer skills and competences')?>
                        <?php echo $this->formElementErrors($form->get('computer')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('artistic')); ?>
                        <?php echo $this->formElement($form->get('artistic')); ?>
                        <?php echo $this->translate('Music, writing, design, etc.')?>
                        <?php echo $this->formElementErrors($form->get('artistic')); ?>
                    </div>
                </div>
            </div>
        </div>
	    
	    <div class="tab-pane" class="tab-pane" id="tab3">
	        <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('other')); ?>
                        <?php echo $this->formElement($form->get('other')); ?>
                        <?php echo $this->translate('Competences not mentioned above.')?>
                        <?php echo $this->formElementErrors($form->get('other')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('jobrelated')); ?>
                        <?php echo $this->formElement($form->get('jobrelated')); ?>
                        <?php echo $this->formElementErrors($form->get('jobrelated')); ?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('driving')); ?>
                        <?php echo $this->formElement($form->get('driving')); ?>
                        <?php echo $this->formElementErrors($form->get('driving')); ?>
                    </div>       
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('publications')); ?>
                        <?php echo $this->formElement($form->get('publications')); ?>
                        <?php echo $this->formElementErrors($form->get('publications')); ?>
                    </div> 
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('visible')); ?>
                        <?php echo $this->formElement($form->get('visible')); ?>
                        <?php echo $this->formElementErrors($form->get('visible')); ?>
                    </div>    
                </div>
            </div>
        </div>
   	</div>
</div>
<?php echo $this->formElement($form->get('id')); ?>

<?php echo $this->form()->closeTag() ?>
