<?php $this->headTitle()->prepend($this->translate('Competences & Skills')); ?>

<?php echo $this->toolbar(true); ?>

<div class="row header">
    <div class="col-lg-2 pull-right"><br/><br/>
    	<?php echo $this->versions(); ?>
    </div>
    <div class="col-lg-10">
        <div class="page-header">
            <h1><i class="fa fa-file"></i> <?php echo $this->translate('Competences & Skills') ?> <small><?php echo $this->translate('What are your skills and qualities?') ?></small></h1>
            <?php echo $this->translate('This is the list of your competences and skills.') ?>
        </div>
    </div>       
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>

<?php echo $this->grid?>
<hr />
<a class="btn btn-default" href="<?php echo $this->url('cv/cs', array('action' => 'add'));?>"><span class="fa fa-plus"></span> <?php echo $this->translate('Add Competences') ?></a>