body {
	padding-top: 60px;
	padding-bottom: 40px;
}


/* Large desktop */
@media ( min-width : 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	.left-column {
		text-align: left;
	}
	
	.border-bottom {
	    border-bottom: 0px;;
	    margin-bottom: 0px;
	    margin-top: 20px;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
}