body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68b604;
}

.left-column {
	text-align: right;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900) );
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0 );
}

.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	background-color: #57a900;
}

.btn-success:active,.btn-success.active {
	background-color: #57a900;
}

div.container a.brand {
	background: url("../img/zf2-logo.png") no-repeat scroll 0 10px
		transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}

.tab-content {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
}

.header {
	margin-bottom: 30px;
}

.section-header {
	text-transform: uppercase;
}

.section-header h5 {
	color: #393c71;
	margin-top: 30px;
	font-size: 15px;
}

.border-bottom {
	border-bottom: 3px solid #86BAE2;
	margin-top: 40px;
	margin-bottom: 20px;
}

.item {
	margin-bottom: 30px;
}

.twitter-timeline{
	height: 345px !important;
	width: 100% !important;
}

/* Large desktop */
@media ( min-width : 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media ( min-width : 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media ( max-width : 767px) {
	.left-column {
		text-align: left;
	}
	
	.border-bottom {
	    border-bottom: 0px;;
	    margin-bottom: 0px;
	    margin-top: 20px;
	}
}

/* Landscape phones and down */
@media ( max-width : 480px) {
}