
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?php echo $this->url('www') ?>"><img src="<?php echo $this->basePath('/img/eurocv-logo.png') ?>" alt="<?php echo $this->translate('EuroCv - The first free network of Curriculum Vitae') ?>"/>&nbsp;<?php echo $this->translate('EuroCv') ?></a>
            </div>
            <div class="collapse navbar-collapse">
                <?php echo $this->navigation('admin_navigation')
                        ->menu()
                        ->setPartial('cv/partial/menu.phtml')
                        ->setUlClass('nav navbar-nav navbar-nav-left')
                        ->render();
                 ?>
                 <ul class="nav navbar-nav navbar-right">
                 <?php if($this->zfcUserIdentity()): ?>
                     <?php 
                         
                         $link = "";                             
                         $user = $this->user($this->zfcUserIdentity()->getId()); 

                         if(!empty($user)){
                             if($user->getPublic()){
                                 $link = $this->url('pac', array ('pac' => $user->getPac()));
                             }else{
                                 $link = $this->url('www/showprivate', array ('pac' => $user->getPac()));
                             }
                         }
                     ?>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user"></i> <?php echo $this->zfcUserIdentity()->getDisplayName() ?> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <?php if(!empty($user)): ?><li><a href="<?php echo $link ?>" title="<?php echo $this->translate('Your Cv') ?>"><i class="fa fa-file"></i> <?php echo $this->translate('Your Cv') ?></a></li><?php endif; ?>
                                <li><a href="<?php echo $this->url('www') . "user" ?>" title="<?php echo $this->translate('Your Profile') ?>"><i class="fa fa-user"></i> <?php echo $this->translate('Your Profile') ?></a></li>
                                <li><a href="/user/logout" title="<?php echo $this->translate('Sign Out') ?>"><i class="fa fa-sign-out"></i> <?php echo $this->translate('Sign Out') ?></a></li>
                            </ul>
                        </li>
                    
                 <?php else: ?>
                        <li class="dropdown">
                            <a href="<?php echo $this->url('www') . "user" ?>"><?php echo $this->translate('Sign In') ?></a>
                        </li>
                 <?php endif; ?>
                     <li>
                         <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                              <input type="text" title="<?php echo $this->translate('Type here who you are looking for or what you are looking for')?>" size="" class="form-control input-md" placeholder="<?php echo $this->translate('last name or keyword')?>" id="searchbox">
                            </div>
                         </form>
                     </li>
                 </ul>
            </div>
        </nav>