<?php 
	$we = !empty($this->we[0]['items']) ? $this->we[0]['items'] : 0;
	$et = !empty($this->et[0]['items']) ? $this->et[0]['items'] : 0;
	$ol = !empty($this->ol[0]['items']) ? $this->ol[0]['items'] : 0;
	$cs = !empty($this->cs[0]['items']) ? $this->cs[0]['items'] : 0;
	$cl = !empty($this->cl[0]['items']) ? $this->cl[0]['items'] : 0;

?>
<ul class="nav nav-pills">
  <li class="active"><a href="/cv/pd"><i class="fa fa-user"></i> <?php echo $this->translate('Personal data')?></a></li>
  <li class=""><a href="/cv/we"><i class="fa fa-list"></i> <?php echo $this->translate('Work Experience')?> <span class="badge" title="<?php echo $this->translate('Items saved') ?>"><?php echo $we?></span></a></li>
  <li class=""><a href="/cv/et"><i class="fa fa-book"></i> <?php echo $this->translate('Education & Training')?> <span class="badge" title="<?php echo $this->translate('Items saved') ?>"><?php echo $et ?></span></a></li>
  <li class=""><a href="/cv/ol"><i class="fa fa-flag"></i> <?php echo $this->translate('Languages')?> <span class="badge" title="<?php echo $this->translate('Items saved') ?>"><?php echo $ol ?></span></a></li>
  <li class=""><a href="/cv/cs"><i class="fa fa-file"></i> <?php echo $this->translate('Competences & Skills')?> <span class="badge" title="<?php echo $this->translate('Items saved') ?>"><?php echo $cs ?></span></a></li>
  <li class=""><a href="/cv/cl"><i class="fa fa-file"></i> <?php echo $this->translate('Cover letter')?> <span class="badge" title="<?php echo $this->translate('Items saved') ?>"><?php echo $cl ?></span></a></li>
</ul>
