<ul class="nav" id="langs">
    <li class="dropdown">
    	<a title="<?php echo $this->translate('This is the selected language version')?>" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-globe"></i> <?php echo sprintf($this->translate('Translate your CV data into the %s%s%s language'), "<strong>", $this->selected, "</strong>") ?> <b class="caret"></b></a>
    	<ul class="dropdown-menu">
    	    <?php $versions = $this->versions?>
    	    <?php foreach ($versions as $id => $translation): ?>
			    <li title="<?php echo in_array($id, $this->versionwritten) ? $this->translate('This cv version contains items') : $this->translate('Switch to this language version') ?>"><a href="/cv/index/changeversion/<?php echo $id?>"><i class="fa fa-globe"></i> <?php echo in_array($id, $this->versionwritten) ? "<b>" : "" ?><?php echo $translation ?><?php echo in_array($id, $this->versionwritten) ? "</b>" : "" ?></a></li>
			<?php endforeach; ?>
        </ul>
    </li>
</ul>