<?php $this->headTitle()->prepend($this->translate('Cover letters')); ?>

<?php echo $this->toolbar(true); ?>

<div class="row header">
    <div class="col-lg-12">
        <h2><?php echo $this->translate('Cover letters') ?></h2>
        <p><?php echo $this->translate('Create and manage your own cover letters.') ?></p>
    </div>
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>


<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'cl', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    
    echo $this->form()->openTag($form);
?>

 <div class="text-right">
    <a href="/cv/cl/add" class="btn btn-default"><i class="fa fa-file"></i> <?php echo $this->translate('Add new')?></a>
    <?php echo $this->formElement($form->get('submit')); ?>
    <a href="/cv/cl/list" class="btn btn-info"><i class="fa fa-arrow-left"></i> <?php echo $this->translate('Back')?></a>
</div>

<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
	</ul>
	<div class="tab-content">
	    
	    <div class="tab-pane active" class="tab-pane" id="tab1">
	        <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('coverletter')); ?>
                        <?php echo $this->formElement($form->get('coverletter')); ?>
                        <?php echo $this->formElementErrors($form->get('coverletter')); ?>
                    </div>
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('visible')); ?>
                        <?php echo $this->formElement($form->get('visible')); ?>
                        <?php echo $this->formElementErrors($form->get('visible')); ?>
                    </div>    
                </div>
            </div>
        </div>
   	</div>
</div>
<?php echo $this->formElement($form->get('id')); ?>

<?php echo $this->form()->closeTag() ?>
