<h2><?php echo $this->translate('Upload Manager') ?></h2>

<?php if ($this->error): ?>
    <div class="alert alert-warning">
        There were one or more isues with your submission. Please correct them as 
        indicated below.
    </div>
<?php endif ?>

<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'Uploads', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    
    echo $this->form()->openTag($form);
?>




<div class="text-right">
    <?php echo $this->formElement($form->get('submit')); ?>
    <a href="/cv/uploads" class="btn btn-info"><?php echo $this->translate('Back to the List')?></a>
</div>


<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab2"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1"> 
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('title')); ?>
                        <?php echo $this->formElement($form->get('title')); ?>
                        <?php echo $this->formElementErrors($form->get('title')); ?>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <span class="label label-default"><?php echo $this->file->getOriginalfilename(); ?></span>
                    </div>
                </div>
            </div>
	    </div>
	    
	    <div class="tab-pane" class="tab-pane" id="tab2">
	        <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('workexperience_id')); ?>
                        <?php echo $this->formElement($form->get('workexperience_id')); ?>
                        <?php echo $this->formElementErrors($form->get('workexperience_id')); ?>
                        <?php echo $this->translate('Only visible item will be listed here') ?>
                    </div>    
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('education_id')); ?>
                        <?php echo $this->formElement($form->get('education_id')); ?>
                        <?php echo $this->formElementErrors($form->get('education_id')); ?>
                        <?php echo $this->translate('Only visible item will be listed here') ?>
                    </div>    
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('language_id')); ?>
                        <?php echo $this->formElement($form->get('language_id')); ?>
                        <?php echo $this->formElementErrors($form->get('language_id')); ?>
                        <?php echo $this->translate('Only visible item will be listed here') ?>
                    </div>    
                </div>
	        </div>
	    </div>
   	</div>
</div>
<?php echo $this->formElement($form->get('id')); ?>
<?php echo $this->form()->closeTag() ?>
