
<?php echo $this->toolbar(); ?>

<div class="row header">
    <div class="col-lg-2 pull-right"><br/><br/>
    	<?php echo $this->versions(); ?>
    </div>
    <div class="col-lg-10">
        <div class="page-header">
            <h1><i class="fa fa-upload"></i> <?php echo $this->translate('My Upload') ?> <small><?php echo $this->translate('Attach here your documents') ?></small></h1>
            <?php echo $this->translate('Please upload here your documents. You can attach the files to one or more curriculum sections.') ?>
        </div>
    </div>    
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>

<?php echo $this->grid?>

<a class="btn btn-default" href="<?php echo $this->url('cv/uploads', array('action'=>'upload'));?>"><span class="fa fa-plus"></span> <?php echo $this->translate('Add Upload')?></a>
