<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('EuroCv '. $this->translate('Homepage'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css', 'all')
                        ->prependStylesheet('/css/bootstrap-switch.css', 'all')
                        ->prependStylesheet('/css/bootstrap-typeahead.css', 'all')
                        ->prependStylesheet('/css/cover.css', 'all')
                        ->prependStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', 'all')
                        ->prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css', 'all')
                        ->prependStylesheet('//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', 'all')
        ?>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('www') ?>"><img width="23" height="22" src="<?php echo $this->basePath('/img/eurocv-logo.png') ?>" alt="<?php echo $this->translate('EuroCv - The first free network of Curriculum Vitae') ?>"/>&nbsp;<?php echo $this->translate('EuroCv') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <?php echo $this->navigation('navigation')
                            ->menu()
                            ->setPartial('cv/partial/menu.phtml')
                            ->setUlClass('nav navbar-nav navbar-nav-left')
                            ->render();
                     ?>
                     <ul class="nav navbar-nav navbar-right">
                     <?php if($this->zfcUserIdentity()): ?>
                         <?php 
                             
                             $link = "";                             
                             $user = $this->user($this->zfcUserIdentity()->getId()); 

                             if(!empty($user)){
                                 if($user->getPublic()){
                                     $link = $this->url('pac', array ('pac' => $user->getPac()));
                                 }else{
                                     $link = $this->url('www/showprivate', array ('pac' => $user->getPac()));
                                 }
                             }
                         ?>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user"></i> <?php echo $this->zfcUserIdentity()->getDisplayName() ?> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                	<?php if(!empty($user)): ?><li><a href="<?php echo $link ?>" title="<?php echo $this->translate('Your Cv') ?>"><i class="fa fa-file"></i> <?php echo $this->translate('Your Cv') ?></a></li><?php endif; ?>
                                	<li><a href="<?php echo $this->url('www') . "user" ?>" title="<?php echo $this->translate('Your Profile') ?>"><i class="fa fa-user"></i> <?php echo $this->translate('Your Profile') ?></a></li>
                                	<li><a href="/user/logout" title="<?php echo $this->translate('Sign Out') ?>"><i class="fa fa-sign-out"></i> <?php echo $this->translate('Sign Out') ?></a></li>
                                </ul>
                            </li>
                    	
                     <?php else: ?>
                            <li class="dropdown">
                                <a href="<?php echo $this->url('www') . "user" ?>"><?php echo $this->translate('Sign In') ?></a>
                            </li>
                     <?php endif; ?>
                         <li>
                             <form class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                  <input type="text" title="<?php echo $this->translate('Type here who you are looking for or what you are looking for')?>" size="" class="form-control input-md" placeholder="<?php echo $this->translate('last name or keyword')?>" id="searchbox">
                                </div>
                             </form>
                         </li>
                     </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- 
            <div class="row">
                <div class="col-lg-12">
                    <?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(1)->setPartial(array('cv/partial/breadcrumb.phtml', 'EuroCv'));?>
                </div>
            </div>
             -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-warning alert-dismissable">
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <?php echo $this->translate('This is a free project developed many years ago. Please let us know if you find any problems.') ?>
                        <?php echo sprintf($this->translate('Send your help requests here: %s'), "<a href=\"mailto:staff@eurocv.eu\">".$this->translate('Contact us')."</a>")?>
                    </div>
                    <?php echo $this->flashMessage(); ?>
                    <?php echo $this->content; ?>
                </div>
            </div>
         </div>
         <br/>
        <div class="navbar navbar-default navbar-fixed-bottom hidden-xs">
            <div class="col-lg-2">
                <?php echo $this->translations() ?>
            </div>
            <div class="col-lg-10">
        		<ul class="nav navbar-nav pull-right">
        		    <li><a href="#"></a></li>
        		    <li><a href="https://twitter.com/myeurocv" data-show-count="false" data-size="large"><i class="fa fa-twitter"></i> Follow us @myeurocv</a></li>
        		    <li><a href="https://twitter.com/intent/tweet?screen_name=myEuroCv&text=Thank%20you%20guys%20for%20your%20free%20service!%20I%20have%20created%20@myeurocv%20right%20now!" data-text="" data-size="large" data-related="eurocv"><i class="fa fa-twitter"></i> Tweet</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-question"></i> Help</a>
                        <ul class="dropdown-menu pull-right">
                            <li class="dropdown"><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=JK3ERUVCWMQ8C" target="_blank"><i class="fa fa-euro"></i> Donate</a></li>
                            <li class="dropdown"><a href="https://bitbucket.org/shinesoftware/eurocv/issues/new" target="_blank"><i class="fa fa-volume-down"></i> Post issues</a></li>
                            <li><a target="_blank" href="https://bitbucket.org/shinesoftware/rss/feed?token=cfa7479d978b0996d498fbf8390ef17c"><i class="fa fa-rss"></i> <?php echo $this->translate('Subscribe the project feed')?></a></li>
                		    <li class="divider"></li>
                		    <li><a href="<?php echo $this->url('www')?>contact"><?php echo $this->translate('Contact us')?></a></li>
                        </ul>
                    </li>
        		</ul>
        	</div>
        </div>
        <?php echo $this->inlineScript()
				->appendFile('//code.jquery.com/jquery.min.js')
		        ->appendFile('//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
		        ->appendFile('/js/bootstrap-hogan-2.0.0.js')
		        ->appendFile('/js/bootstrap-typeahead.min.js')
		        ->appendFile('/js/bootstrap-switch.min.js') 
		        ->appendFile('/js/site.js')
        ?>
        
        
        <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-382523-2']);
              _gaq.push(['_trackPageview']);
              
              <?php $ganalytics = trim($this->placeholder('ganalytics')); ?>
              
              <?php if(!empty($ganalytics)): ?>
                  _gaq.push(['secondTracker._setAccount','<?php echo $ganalytics ?>']); 
                  _gaq.push(['secondTracker._trackPageview']);
              <?php endif; ?>
              
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
        
        </script>
    </body>
</html>
