<?php $this->headTitle()->prepend($this->translate('Personal Information')); ?>

<?php echo $this->toolbar(true); ?>

<div class="row header">
    <div class="col-lg-2 pull-right"><br/><br/>
    	<?php echo $this->versions(); ?>
    </div>
    <div class="col-lg-10">
        <div class="page-header">
            <h1><i class="fa fa-user"></i> <?php echo $this->translate('Personal Information') ?> <small><?php echo $this->translate('Who are you?') ?></small></h1>
            <?php echo $this->translate('Edit your Curriculum Vitae et Studiorum in each section, inserting your personal data, your work experience, and your skills and competences.') ?>
        </div>
    </div>   
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>


<?php 
    $form = $this->form;
    $link = "#";
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'pd', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    $form->setAttribute('enctype', 'multipart/form-data');
    if(!empty($this->user)){
    	$photo = glob(PUBLIC_PATH . '/photos/' . $this->user->getPac() . "*");
    }    	
    	
    echo $this->form()->openTag($form);

//     \Zend\Debug\Debug::dump(get_class_methods($form->get('pd')));
//     \Zend\Debug\Debug::dump($this->user);

    if(!empty($this->user)){
        $link = $this->url('www/showprivate', array ('pac' => $this->user->getPac()));
    }
?>
 
    
<?php if(!empty($this->user)): ?>
    <div class="alert alert-info">
        <?php echo sprintf($this->translate('This is your fastlink to get and share the cv: %s'), "<a target='_blank' href='$link'>http://" . $this->user->getPac() . ".eurocv.eu</a>"); ?>
    </div>
<?php endif; ?>

<div class="text-right">
    <?php echo $this->formElement($form->get('submit')); ?>
</div>


<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab2"><?php echo $this->translate('Address');?></a></li> 
		<li><a data-toggle="tab" href="#tab3"><?php echo $this->translate('Contacts');?></a></li> 
		<li><a data-toggle="tab" href="#tab4"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1">  
	        
	        <div class="col-md-6">
                <?php if(!empty($photo)): ?>
                    <div class="col-md-6">
                        <?php echo $this->photo($this->user->getUserId()); ?>
                    </div>
                <?php else: ?>
                    <div class="col-md-6">
                        <img class="img-responsive" src="http://placehold.it/350x200&text=<?php echo $this->translate('Your Photo')?>" alt="tmp photo"> 
                    </div>
                <?php endif; ?>
        
                <div class="col-md-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('pd')->get('firstname')); ?>
                        <?php echo $this->formElement($form->get('pd')->get('firstname')); ?>
                        <?php echo $this->formElementErrors($form->get('pd')->get('firstname')); ?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('pd')->get('lastname')); ?>
                        <?php echo $this->formElement($form->get('pd')->get('lastname')); ?>
                        <?php echo $this->formElementErrors($form->get('pd')->get('lastname')); ?>
                    </div>
                </div>
                
                <div class="clearfix"></div>
                
                <div class="form-group">
                    <?php if(!empty($photo)): ?>
                           <br/><a class="btn btn-xs btn-danger" onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="/cv/pd/deletephoto/"><?php echo $this->translate('delete photo')?></a> 
                      <?php else: ?>
                        <?php echo $this->formLabel($form->get('pd')->get('photo')); ?>
                        <?php echo $this->formElement($form->get('pd')->get('photo')); ?>
                        <?php echo $this->formElementErrors($form->get('pd')->get('photo')); ?>
                    <?php endif; ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('pac')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('pac')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Create your new username to share your curriculum vitae by a simple link.') ?> <?php echo $this->translate('The P.A.C. (Public Access Code) will allow you to share your curriculum with the companies.') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('pac')); ?>
                </div>
                
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthdate')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthdate')); ?>
                    <small><i class="fa fa-info"></i> <?php echo sprintf($this->translate('The date format must be dd/mm/yyyy for instance: %s'), date('d/m/Y')) ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthdate')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('email')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('email')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('email')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('gender')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('gender')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('gender')); ?>
                </div>
                
                
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('mothertongue_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('mothertongue_id')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('mothertongue_id')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthplace')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthplace')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthplace')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthnation')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthnation')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthnation')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('nationality')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('nationality')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('nationality')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('country_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('country_id')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('country_id')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('translation_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('translation_id')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Set the default language of your curriculum vitae!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('translation_id')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('jobcategory_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('jobcategory_id')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Set your main job category sector!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('jobcategory_id')); ?>
                </div>  
                
                
                <i><?php echo $this->translate('All the empty or incomplete curriculum will be deleted from the database.') ?></i>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
            <div class="col-lg-6">
                <?php $fieldset = $form->get('pd')->get('addresses'); ?>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('street')); ?>
                    <?php echo $this->formElement($fieldset->get('street')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('street')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('code')); ?>
                    <?php echo $this->formElement($fieldset->get('code')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('code')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('city')); ?>
                    <?php echo $this->formElement($fieldset->get('city')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('city')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('country_id')); ?>
                    <?php echo $this->formElement($fieldset->get('country_id')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('country_id')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('showmap')); ?>
                    <?php echo $this->formElement($fieldset->get('showmap')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('showmap')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($fieldset->get('visible')); ?>
                    <?php echo $this->formElement($fieldset->get('visible')); ?>
                    <?php echo $this->formElementErrors($fieldset->get('visible')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formElement($fieldset->get('id')); ?>
                </div>
            </div>
            <div class="col-lg-6">
                <?php if(!empty($this->addresslist)): ?>
                    <?php foreach ($this->addresslist as $address): ?>
                        <address>
                            <strong><?php echo $address->getStreet() ?></strong><br>
                            <?php echo $address->getCity() ?>, <?php echo $address->getCountryId() ?> <?php echo $address->getCode() ?><br>
                            <a href="/cv/pd/editaddress/<?php echo $address->getId() ?>"><?php echo $this->translate('Edit') ?></a> | 
                            <a onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="/cv/pd/deladdress/<?php echo $address->getId() ?>"><?php echo $this->translate('Delete') ?></a> | 
                            <a target="_blank" href="http://www.google.com/maps?q=<?php echo $address->getLatitude() ?>,<?php echo $address->getLongitude() ?>"><?php echo $this->translate('Show on Google Map') ?></a>
                        </address>
                    <?php endforeach; ?>
                    <?php echo $this->createMap($this->addresslist); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="tab-pane" id="tab3">
            <?php $contact_fieldset = $form->get('pd')->get('contacts'); ?>
            <div class="col-lg-6">
                <div class="form-group">
                    <?php echo $this->formLabel($contact_fieldset->get('contact')); ?>
                    <?php echo $this->formElement($contact_fieldset->get('contact')); ?>
                    <?php echo $this->formElementErrors($contact_fieldset->get('contact')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($contact_fieldset->get('type_id')); ?>
                    <?php echo $this->formElement($contact_fieldset->get('type_id')); ?>
                    <?php echo $this->formElementErrors($contact_fieldset->get('type_id')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($contact_fieldset->get('visible')); ?>
                    <?php echo $this->formElement($contact_fieldset->get('visible')); ?>
                    <?php echo $this->formElementErrors($contact_fieldset->get('visible')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formElement($contact_fieldset->get('id')); ?>
                </div>
            </div>
            <div class="col-lg-6">
                <?php if(!empty($this->contactlist)): ?>
                    <?php foreach ($this->contactlist as $contact): ?>
                        <address>
                            <abbr title="<?php echo $contact->type ?>"><?php echo $contact->type ?>:</abbr> <?php echo $contact->getContact() ?><br/>
                            <a href="/cv/pd/editcontact/<?php echo $contact->getId() ?>"><?php echo $this->translate('Edit') ?></a> | 
                            <a onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="/cv/pd/delcontact/<?php echo $contact->getId() ?>"><?php echo $this->translate('Delete') ?></a> | 
                        </address>
                    <?php endforeach; ?>
                <?php endif;?>
            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="col-lg-6">
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('ganalytics')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('ganalytics')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('ganalytics')); ?>
                    <small><?php echo $this->translate('Set your Google Analytics code like: UA-XXXXXXXX') ?></small>
                </div>  
            </div>
            <div class="col-lg-6">
                 <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('keywords')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('keywords')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('keywords')); ?>
                    <small><?php echo $this->translate('Keywords can be used to help others find your cv when they search it in the EuroCv site. Keywords must pertain directly to your cv. Separate keywords by commas.') ?></small>
                </div>  
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('public')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('public')); ?>
                    <br/><small><i class="fa fa-info"></i> <?php echo $this->translate('If the profile is public all the users, companies, search engines could find your curriculum vitae!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('public')); ?>
                </div>
                  
                <?php if(!empty($this->user)): ?>  
                <div class="form-group">
                    <a class="btn btn-danger" href="<?php echo $this->url('cv/pd', array('action'=>'delete'));?>" onclick="return confirm('<?php echo $this->translate('Are you sure to delete all your data?') ?>')"><?php echo $this->translate('Delete the profile')?></a>
                </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>    


<?php echo $this->formElement($form->get('pd')->get('id')); ?>
<?php echo $this->form()->closeTag() ?>

