<?php 
	$pages = $this->pages;
?>

<div class="page-list">
	<ul>
		<?php foreach($pages as $page): ?>
			<li><a href="/cms/<?php echo $page->uri ?>.html"><?php echo $page->title ?></a></li>
		<?php endforeach; ?>
	</ul>
</div>
