<?php $this->headTitle()->prepend($this->translate('Personal Information')); ?>
<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'users', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    $form->setAttribute('enctype', 'multipart/form-data');
    $photo = glob(PUBLIC_PATH . '/photos/' . $this->user->getPac() . "*");
?>

<?php echo $this->form()->openTag($form); ?>

<div class="row header">
    <div class="col-lg-12">
    	<h3><i class="fa fa-user"></i> <a target="_blank" href="http://<?php echo $this->user->getPac()?>.eurocv.eu"><?php echo $this->user->getFirstname() ?> <?php echo $this->user->getLastname() ?></a></h3>
    </div>   
    <?php if ($this->error): ?>
        <div class="col-lg-12">
        	<?php foreach ($form->getMessages() as $errors):?>
	        	<?php foreach ($errors as $item => $error):?>
		            <div class="alert alert-warning">
		                <b><?php echo $item; ?></b> <?php echo implode(" - ", $error) ?>
		            </div>
		        <?php endforeach;?>
	        <?php endforeach;?>
        </div>
    <?php endif ?>
</div>


<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab4"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1">  
	       
	        <div class="col-md-6">
	        	 <div class="col-md-6">
	            	<?php if(!empty($photo)): ?>
				        <?php echo $this->photo($this->user->getUserId()); ?>
			        <?php else: ?>
                        <img class="img-responsive"
                             src="https://placeholdit.imgix.net/~text?txtsize=33&txt=<?php echo $this->translate('Your Photo') ?>&w=350&h=200"
                             alt="tmp photo">
			        <?php endif; ?>
		        </div>
		        
	        	<div class="col-md-6">
                   	<div class="form-group">
                        <?php echo $this->formLabel($form->get('pd')->get('firstname')); ?>
                        <?php echo $this->formElement($form->get('pd')->get('firstname')); ?>
                        <?php echo $this->formElementErrors($form->get('pd')->get('firstname')); ?>
                    </div>
                    
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('pd')->get('lastname')); ?>
                        <?php echo $this->formElement($form->get('pd')->get('lastname')); ?>
                        <?php echo $this->formElementErrors($form->get('pd')->get('lastname')); ?>
                    </div>
                </div>
                <div class="clearfix"></div><br/>
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('pac')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('pac')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Create your new username to share your curriculum vitae by a simple link.') ?> <?php echo $this->translate('The P.A.C. (Public Access Code) will allow you to share your curriculum with the companies.') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('pac')); ?>
                </div>
                
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthdate')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthdate')); ?>
                    <small><i class="fa fa-info"></i> <?php echo sprintf($this->translate('The date format must be dd/mm/yyyy for instance: %s'), date('d/m/Y')) ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthdate')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('email')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('email')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('email')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('gender')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('gender')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('gender')); ?>
                </div>
                
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('public')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('public')); ?>
                    <br/><small><i class="fa fa-info"></i> <?php echo $this->translate('If the profile is public all the users, companies, search engines could find your curriculum vitae!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('public')); ?>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('mothertongue_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('mothertongue_id')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('mothertongue_id')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthplace')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthplace')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthplace')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('birthnation')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('birthnation')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('birthnation')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('nationality')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('nationality')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('nationality')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('country_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('country_id')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('country_id')); ?>
                </div>
                
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('translation_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('translation_id')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Set the default language of your curriculum vitae!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('translation_id')); ?>
                </div>
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('jobcategory_id')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('jobcategory_id')); ?>
                    <small><i class="fa fa-info"></i> <?php echo $this->translate('Set your main job category sector!') ?></small>
                    <?php echo $this->formElementErrors($form->get('pd')->get('jobcategory_id')); ?>
                </div>  
                
                <i><?php echo $this->translate('All the empty or incomplete curriculum will be deleted from the database.') ?></i>
            </div>
        </div>
        <div class="tab-pane" id="tab4">
            <div class="col-lg-6">
                <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('ganalytics')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('ganalytics')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('ganalytics')); ?>
                    <small><?php echo $this->translate('Set your Google Analytics code like: UA-XXXXXXXX') ?></small>
                </div>  
            </div>
            <div class="col-lg-6">
                 <div class="form-group">
                    <?php echo $this->formLabel($form->get('pd')->get('keywords')); ?>
                    <?php echo $this->formElement($form->get('pd')->get('keywords')); ?>
                    <?php echo $this->formElementErrors($form->get('pd')->get('keywords')); ?>
                    <small><?php echo $this->translate('Keywords can be used to help others find your cv when they search it in the EuroCv site. Keywords must pertain directly to your cv. Separate keywords by commas.') ?></small>
                </div>    
            </div>
        </div>
    </div>
</div>    


<div class="text-right">
    <?php echo $this->formElement($form->get('submit')); ?>
</div>

<?php echo $this->formElement($form->get('pd')->get('id')); ?>
<?php echo $this->form()->closeTag() ?>

