<h3><?php echo $this->translate('User list')?></h3>
<small><?php echo $this->translate('Here you can handle all the users.')?><br/><?php echo sprintf($this->translate('If you need to export your %sfiltered list%s result as simple html please click here %s'), '<span class="label label-danger">', '</span>', '<a href="/admin/users/html">HTML</a>')?></small>
<?php echo $this->grid?>