<?php $files = $this->files?>
<?php if(!empty($files)): ?>
    <ul class="list-inline">
    <?php foreach ($files as $file): ?>
        <li><a class="label label-default" href="/download/<?php echo $file->getCodedfilename() ?>"><?php echo $file->getTitle() ?></a></li>
    <?php endforeach;?>
    </ul>
<?php endif; ?>