<?php
    $cl = $this->cl;
?>
<?php if($cl): ?>
    <div class="row">
        <div class="col-lg-12">
            <?php if($cl->getVisible() && $cl->getCoverletter()): ?>
                <?php echo $this->Wiki(htmlspecialchars($cl->getCoverletter())); ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>