<?php $cs = $this->cs; ?>
<?php $userId = $this->user->getUserId(); ?>

	<?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
		<div class="row item">
			<p class="pull-right"><a class="btn btn-xs btn-success" href="http://www.eurocv.eu/cv/cs/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New competence') ?></a> <?php if(!empty($cs)): ?><a class="btn btn-xs btn-default" href="http://www.eurocv.eu/cv/cs/edit/<?php echo $cs->getId() ?>"><i class="fa fa-pencil"></i> <?php echo $this->translate('Edit') ?></a> <a class="btn btn-xs btn-danger" onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="http://www.eurocv.eu/cv/cs/delete/<?php echo $cs->getId() ?>"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete') ?></a><?php endif; ?></p>
		</div>
	<?php endif; ?>

    <?php if(!empty($cs)): ?>
		<span id="cs"></span>
		<?php if($cs->getPersonal()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Personal skills and competences') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getPersonal())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getSocial()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Communication skills') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getSocial())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getOrganisational()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Organisational / managerial skills') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getOrganisational())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getTechnical()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Technical skills and competences') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getTechnical())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getComputer()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Computer skills and competences') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getComputer())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getArtistic()): ?>
	        <div class="row item">
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Artistic skills and competences') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getArtistic())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getOther()): ?>
	        <div class="row item">    
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Other skills and competences') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getOther())?>
	            </div>
	        </div>  
        <?php endif; ?>
        
        <?php if($cs->getDriving()): ?>  
	        <div class="row item">    
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Driving licence') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getDriving())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getJobrelated()): ?>
	        <div class="row item">    
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Job-related skills') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getJobrelated())?>
	            </div>
	        </div>
        <?php endif; ?>
        
        <?php if($cs->getPublications()): ?>
	        <div class="row">    
	            <div class="col-sm-3 left-column">
	                <?php echo $this->translate('Publications') ?>
	            </div>
	            <div class="col-sm-9 ">
	                <?php echo $this->Wiki($cs->getPublications())?>
	            </div>
	        </div>
        <?php endif; ?>
        
    <?php endif; ?>