<?php $et = $this->et; ?>
<?php $userId = $this->user->getUserId(); ?>

<div class="row">
    <div class="col-sm-3 left-column section-header">
        <h5><?php echo $this->translate('Education and Training') ?></h5>
    </div>
    <div class="col-sm-9 border-bottom"></div>
</div>
<?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
	<div class="row item">
		<p class="pull-right"><a class="btn btn-sm btn-success" href="http://www.eurocv.eu/cv/et/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New education') ?></a></p>
	</div>
<?php endif; ?>	
<?php foreach ($et as $item): ?>
    <div class="row item" id="et<?php echo $item->getId() ?>">
        <div class="col-sm-3 left-column">
            <?php echo $this->datetime($item->getStartdate()); ?> - 
            <?php echo ($this->datetime($item->getEnddate())) ? $this->datetime($item->getEnddate()) : $this->translate('Present')?>
        </div>
        <div class="col-sm-9 ">
        	<?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
	        	<p class="pull-right"><a class="btn btn-xs btn-success" href="http://www.eurocv.eu/cv/et/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New education') ?></a> <a class="btn btn-xs btn-default" href="http://www.eurocv.eu/cv/et/edit/<?php echo $item->getId() ?>"><i class="fa fa-pencil"></i> <?php echo $this->translate('Edit') ?></a> <a class="btn btn-xs btn-danger" onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="http://www.eurocv.eu/cv/et/delete/<?php echo $item->getId() ?>"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete') ?></a></p>
	        <?php endif; ?>
            <p><?php echo $item->getTitle() ?></p>
            <p><?php echo $item->getOrganisation() ?></p>
            <p><?php echo $item->getLevel() ?></p>
            <p><?php echo $this->Wiki($item->getSkills()) ?></p>
            <p><?php echo $this->attachments($item->getPersonaldataId(), $item->getTranslationId(), null, $item->getId()) ?></p>
        </div>
    </div>
<?php endforeach; ?>
