<?php $keywords = $this->keywords?>
<?php if(!empty($keywords)): ?>
    <ul class="list-inline">
    <?php foreach ($keywords as $keyword): ?>
        <li><small><?php echo $keyword ?></small></li>
    <?php endforeach;?>
    </ul>
<?php endif; ?>