<?php $user = $this->user; ?>
<?php $cl = $this->cl; ?>
<?php $locale = $this->locale; ?>

<?php if(null != $user->getPac()): ?>
    <ul class="nav nav-pills">
        <li class="active"><a href="#tab1" data-toggle="tab"><?php echo $this->translate('Curriculum Vitae') ?></a></li>
        <?php if($cl): ?><li><a href="#tab2" data-toggle="tab"><i class="fa fa-file-o"></i> <?php echo $this->translate('Cover letter') ?></a></li><?php endif; ?>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-save"></i> <?php echo $this->translate('Save as')?> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a title="<?php echo $this->translate('Click to download a copy of this curriculum or copy the link to share it on the web') ?>" href="<?php echo $this->url('exportversion', array('pac' => $user->getPac(), 'export' => 'pdf', 'language' => $locale)) ?>"><i class="fa fa-file"></i> Acrobat (*.pdf)</a></li>
                <li><a title="<?php echo $this->translate('Click to download a copy of this curriculum or copy the link to share it on the web') ?>" href="<?php echo $this->url('exportversion', array('pac' => $user->getPac(), 'export' => 'doc', 'language' => $locale)) ?>"><i class="fa fa-file"></i> MS Word (*.doc)</a></li>
                <li><a title="<?php echo $this->translate('Click to download a copy of this curriculum or copy the link to share it on the web') ?>" href="<?php echo $this->url('exportversion', array('pac' => $user->getPac(), 'export' => 'odt', 'language' => $locale)) ?>"><i class="fa fa-file"></i> Open Office (*.odt)</a></li>
            </ul>
        </li>
        <?php $languageVersion = $this->cvversions($user->getId());?>
        <?php if(!empty($languageVersion) && is_array($languageVersion)): ?>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i> <?php echo $this->translate('Versions')?> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <?php foreach ($languageVersion as $id => $language): ?>
                <?php if(!empty($language['code'])): ?>
                    <li><a href="<?php echo $this->url('versions', array('pac' => $user->getPac(), 'language' => $language['code'])) ?>"><i class="fa fa-flag"></i> <?php echo $this->translate($language['title'])?></a></li>
                <?php endif;?>
            <?php endforeach; ?>
          </ul>
        </li>
        <?php endif; ?>
    </ul>
<?php endif; ?>