<?php $ol = $this->ol; ?>
<?php $userId = $this->user->getUserId(); ?>

    <?php if(!empty($ol)): ?>
        <div class="row item">
            <div class="col-sm-3 left-column">
                <?php echo $this->translate('Other language(s)') ?>
            </div>
            <div class="col-sm-9 ">
            	<?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
	            	<div class="row item">
						<p class="pull-right"><a class="btn btn-sm btn-success" href="http://www.eurocv.eu/cv/ol/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New language') ?></a></p>
					</div>
				<?php endif; ?>
				<?php if($ol->count()): ?>
	                <table class="table hidden-xs">
	                    <thead>
	                        <tr>
	                            <th class="section-header text-center"></th>
	                            <th class="section-header text-center" colspan="2"><?php echo $this->translate('Understanding') ?></th>
	                            <th class="section-header text-center" colspan="2"><?php echo $this->translate('Speaking') ?></th>
	                            <th class="section-header text-center" colspan="2"><?php echo $this->translate('Writing') ?></th>
	                            <th class="text-center">&nbsp;</th>
	                        </tr>
	                        <tr>
	                            <th></th>
	                            <th class="text-center"><?php echo $this->translate('Listening') ?></th>
	                            <th class="text-center"><?php echo $this->translate('Reading') ?></th>
	                            <th class="text-center"><?php echo $this->translate('Spoken interaction') ?></th>
	                            <th class="text-center"><?php echo $this->translate('Spoken production') ?></th>
	                            <th class="text-center">&nbsp;</th>
	                            <th class="text-center">&nbsp;</th>
	                            <th class="text-center">&nbsp;</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <?php foreach ($ol as $item): ?>
	                        <tr id="ol<?php echo $item->getId() ?>">
	                            <td class="text-center"><?php echo $this->language($item->getLangId());?></td>
	                            <td class="text-center"><?php echo $item->getUnderstandingListening()?></td>
	                            <td class="text-center"><?php echo $item->getUnderstandingReading()?></td>
	                            <td class="text-center"><?php echo $item->getSpokenInteraction()?></td>
	                            <td class="text-center"><?php echo $item->getSpokenProduction()?></td>
	                            <td class="text-center"><?php echo $item->getWriting()?></td>
	                            <td>
	                            <?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
						        	<p class="pull-right"><a class="btn btn-xs btn-default" href="http://www.eurocv.eu/cv/ol/edit/<?php echo $item->getId() ?>"><i class="fa fa-pencil"></i> <?php echo $this->translate('Edit') ?></a> <a class="btn btn-xs btn-danger" onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="http://www.eurocv.eu/cv/ol/delete/<?php echo $item->getId() ?>"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete') ?></a></p>
						        <?php endif; ?>
	                            </td>
	                            <td><?php echo $this->attachments($item->getPersonaldataId(), $item->getTranslationId(), null, null, $item->getId()) ?></td>
	                        </tr>
	                        <tr>
	                        	<td colspan="8"><?php echo $item->getCertificate()?></td>
	                        </tr>
	                        <?php endforeach; ?>
	                    </tbody>
	                </table>
                <?php endif;?>
                <!-- This section is visible for the mobile phones -->
                <div class="visible-xs">
                    <?php $ol->buffer();?>
                    <ul>
                    <?php foreach ($ol as $item): ?>
                        <li><?php echo $this->language($item->getLangId()) ?></li>
                    <?php endforeach; ?>
                    </ul>
                </div>
                
            </div>
        </div>
    <?php endif; ?>