<?php 
    $user = $this->user; 
    $userId = $this->user->getUserId();
    $fullname = $user->getFirstname() . " " . $user->getLastname();
    $addresses = $this->user->getAddresses();
    $contacts = $this->user->getContacts();
?>

<div class="row">
    <div class="col-sm-3 left-column section-header">
        <h5 id="pd"><?php echo $this->translate('Personal Information') ?></h5>
    </div>
    <div class="col-sm-6">
        <h2><?php echo $fullname ?></h2>
        <p><?php echo $this->jobcategory($user->getJobcategoryId()) ?></p>
        <ul class="list-unstyled">
            <?php foreach ($addresses as $address): ?>
                <?php if($address->getVisible()): ?>
                    <li><i class="fa fa-map-marker"></i> 
                        <?php $straddress = $address->getStreet() . " " . $address->getCode() . " " . $address->getCity() . " (" . $address->country . ")"?>
                        <?php echo $straddress ?>
                        <?php if($address->getShowmap()): ?>
                            <a target="_blank" href="https://www.google.com/maps/place/<?php echo htmlentities($straddress)?>"><i class="fa fa-location-arrow"></i></a>
                        <?php endif; ?>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        <p><?php echo $this->translate('Nationality') ?>: <?php echo $user->getNationality(); ?></p>
        <p><i class="fa fa-envelope"></i> <?php echo $this->obfuscator($user->getEmail()) ?></p>
        <ul class="list-inline">
            <?php foreach ($contacts as $contact): ?>
            	<?php if($contact->getVisible()): ?>
                <li>
                    <i class="fa fa-<?php echo strtolower($contact->type) ?>"></i>
                    <?php echo $contact->type ?>
                    <?php if($contact->type == "Additional E-mail"): ?>
                        <?php echo $this->obfuscator($contact->getContact()) ?>
                    <?php else: ?>
                        <?php echo $contact->getContact() ?>
                    <?php endif; ?>
                </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        
        <?php echo $this->keywords($user->getKeywords()) ?>
        <?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
        	<p><a class="btn btn-xs btn-default" href="http://www.eurocv.eu/cv/pd"><i class="fa fa-pencil"></i> <?php echo $this->translate('Edit your personal data') ?></a></p>
        <?php endif; ?>
    </div>
    <div class="col-sm-3 hidden-xs">
        <?php echo $this->photo($userId)?>
    </div>
</div>