<ul class="nav navbar-nav" id="translations">
    <li class="dropdown">
    	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-flag"></i> <?php echo $this->translate($this->locale()); ?> <b class="caret"></b></a>
    	<ul class="dropdown-menu">
    	    <?php $translations = $this->translations?>
    	    <?php foreach ($translations as $id => $translation): ?>
			    <li><a href="/application/index/changelng/<?php echo $id?>"><i class="fa fa-flag"></i> <?php echo $translation ?></a></li>
			<?php endforeach; ?>
    	    <li class="divider"></li>
    	    <li><a target="_blank" href="https://poeditor.com/join/project?hash=d5192ae812bef1e4e15cb57656b82939"><?php echo $this->translate('Help us to translate the service')?></a></li>
        </ul>
    </li>
</ul>