<?php $we = $this->we; ?>
<?php $userId = $this->user->getUserId(); ?>

    <div class="row" id="we">
        <div class="col-sm-3 left-column section-header">
            <h5><?php echo $this->translate('Work Experiences') ?></h5>
        </div>
        <div class="col-sm-9 border-bottom"></div>
    </div>
    <?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
	    <div class="row item">
			<p class="pull-right"><a class="btn btn-sm btn-success" href="http://www.eurocv.eu/cv/we/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New work experience') ?></a></p>
		</div>
    <?php endif; ?>    
    <?php foreach ($we as $item): ?>
        <div class="row item" id="we<?php echo $item->getId() ?>">
            <div class="col-sm-3 left-column">
                <?php echo $this->datetime($item->getStartdate()); ?> - 
                <?php echo ($this->datetime($item->getEnddate())) ? $this->datetime($item->getEnddate()) : $this->translate('Present')?>
            </div>
            <div class="col-sm-9">
	            <?php if($this->zfcUserIdentity() && $userId == $this->zfcUserIdentity()->getId()): ?>
	        		<p class="pull-right"><a class="btn btn-xs btn-success" href="http://www.eurocv.eu/cv/we/add"><i class="fa fa-plus"></i> <?php echo $this->translate('New work experience') ?></a> <a class="btn btn-xs btn-default" href="http://www.eurocv.eu/cv/we/edit/<?php echo $item->getId() ?>"><i class="fa fa-pencil"></i> <?php echo $this->translate('Edit') ?></a> <a class="btn btn-xs btn-danger" onclick="return confirm('<?php echo $this->translate('Are you sure?') ?>')" href="http://www.eurocv.eu/cv/we/delete/<?php echo $item->getId() ?>"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete') ?></a></p>
	        	<?php endif; ?>
                <p><?php echo $item->getPosition() ?></p>
                <p><?php echo $item->getEmployer() ?></p>
                <p><?php echo $item->getSector() ?></p>
                <p><?php echo $this->Wiki($item->getActivities()) ?></p>
                <p><?php echo $this->attachments($item->getPersonaldataId(), $item->getTranslationId(), $item->getId()) ?></p>
            </div>
        </div>
    <?php endforeach; ?>
