<?php $records = $this->records; ?>

<div class="row">
    <div class="col-lg-12">
        <ul class="list-unstyled" style="-moz-columns: 3 200px;-webkit-columns: 3 200px;columns: 3 200px;">
            <?php foreach ($records as $users => $category): ?>
                <li><?php echo $category ?>: <strong><?php echo $users ?></strong></li>
            <?php endforeach;?>
        </ul>    
    </div>
</div>
