<h3>Cms Pages Information</h3>

<?php if ($this->error): ?>
<p class="error">
    There were one or more isues with your submission. Please correct them as 
    indicated below.
</p>
<?php endif ?>

<section>
<?php 
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('cms/admin', array('action' => 'process')));
$form->setAttribute('method', 'post');

echo $this->form()->openTag($form);
?>
<dl class="zend_form">
<dt><?php echo $this->formLabel($form->get('title')); ?></dt>
<?php echo $this->formElement($form->get('id')); ?>

<dd><?php 
    echo $this->formElement($form->get('title'));
    echo $this->formElementErrors($form->get('title'));
?></dd>

<dt><?php echo $this->formLabel($form->get('uri')); ?></dt>
<dd><?php 
    echo $this->formElement($form->get('uri'));
    echo $this->formElementErrors($form->get('uri'));
?></dd>

<dt><?php echo $this->formLabel($form->get('content')); ?></dt>
<dd><?php 
    echo $this->formElement($form->get('content'));
    echo $this->formElementErrors($form->get('content'));
?></dd>

<dd><?php 
    echo $this->formElement($form->get('submit'));
    echo $this->formElementErrors($form->get('submit'));
?></dd>

</dl>
<?php echo $this->form()->closeTag() ?>
</section>
