<?php $pages = $this->cms; ?>

<h3>Cms Pages</h3>
<table class="table">
<tr>
    <th>Title</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($pages as $page) : ?>
<tr>
    <td><?php echo $this->escapeHtml($page->title);?></td>
    <td><?php echo $this->escapeHtml($page->createdat);?></td>
    <td><?php echo $this->escapeHtml($page->updatedat);?></td>
    <td>
        <a href="<?php echo $this->url('cms/admin', array('action'=>'edit', 'id' => $page->id));?>">Edit</a> | 
        <a href="<?php echo $this->url('cms/admin', array('action'=>'delete', 'id' => $page->id));?>" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
<hr />
<a href="<?php echo $this->url('cms/admin', array('action'=>'add'));?>">&raquo Add Page</a>