<div class="row">
    <div class="col-lg-12">
        <h3><?php echo $this->translate('EuroCv Dashboard')?></h3>
        <small><?php echo $this->translate('This is the admin dashboard of the EuroCv project')?></small>
        
        
        <?php echo $this->jobcategorysummary() ?>
        
    </div>
</div>