<?php $this->headTitle()->prepend($this->translate('Work Experience')); ?>

<?php echo $this->toolbar(true); ?>

<div class="row header">
    <div class="col-lg-12">
        <h2><?php echo $this->translate('Work Experience') ?></h2>
        <p><?php echo $this->translate('Please fill this form with your own work experiences.') ?></p>
    </div>
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>


<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'we', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    $idEl = $form->get('id');
    echo $this->form()->openTag($form);
?>

 <div class="text-right">
    <a href="/cv/we/add" class="btn btn-default"><i class="fa fa-file"></i> <?php echo $this->translate('Add new')?></a>
    <?php echo $this->formElement($form->get('submit')); ?>
    <?php if($idEl->getValue()): ?><a href="/show/<?php echo $this->pac ?>#we<?php echo $idEl->getValue() ?>" class="btn btn-primary active"><i class="fa fa-share"></i> <?php echo $this->translate('Show')?></a><?php endif; ?>
    <a href="/cv/we/list" class="btn btn-info"><i class="fa fa-bars"></i> <?php echo $this->translate('List')?></a>
    <?php if($idEl->getValue()): ?><a onclick="return confirm('<?php echo $this->translate('Are you sure?')?>')" href="/cv/we/delete/<?php echo $idEl->getValue() ?>" class="btn btn-warning"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete')?></a><?php endif; ?>
</div>

<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab2"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1"> 
            
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('employer')); ?>
                        <?php echo $this->formElement($form->get('employer')); ?>
                        <?php echo $this->formElementErrors($form->get('employer')); ?>
                    </div>
                </div>
                <div class="col-lg-2">
                     <div class="form-group">
                        <?php echo $this->formLabel($form->get('visible')); ?>
                        <?php echo $this->formElement($form->get('visible')); ?>
                        <?php echo $this->formElementErrors($form->get('visible')); ?>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('startdate')); ?>
                        <?php echo $this->formElement($form->get('startdate')); ?>
                        <small><i class="fa fa-info"></i> <?php echo sprintf($this->translate('Date format: %s or %s'), date('d/m/Y'), date('m/Y')) ?></small>
                        <?php echo $this->formElementErrors($form->get('startdate')); ?>
                    </div>        
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('enddate')); ?>
                        <?php echo $this->formElement($form->get('enddate')); ?>
                        <small><i class="fa fa-info"></i> <?php echo sprintf($this->translate('Date format: %s or %s'), date('d/m/Y'), date('m/Y')) ?></small>
                        <?php echo $this->formElementErrors($form->get('enddate')); ?>
                    </div>        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('activities')); ?>
                        <?php echo $this->formElement($form->get('activities')); ?>
                        <?php echo $this->formElementErrors($form->get('activities')); ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('sector')); ?>
                        <?php echo $this->formElement($form->get('sector')); ?>
                        <?php echo $this->formElementErrors($form->get('sector')); ?>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('position')); ?>
                        <?php echo $this->formElement($form->get('position')); ?>
                        <?php echo $this->formElementErrors($form->get('position')); ?>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <?php echo $this->formLabel($form->get('jobcategory_id')); ?>
                <?php echo $this->formElement($form->get('jobcategory_id')); ?>
                <?php echo $this->formElementErrors($form->get('jobcategory_id')); ?>
            </div>
            <div class="form-group">
                <?php echo $this->formLabel($form->get('sort')); ?>
                <?php echo $this->formElement($form->get('sort')); ?>
                <?php echo $this->formElementErrors($form->get('sort')); ?>
            </div>
	    </div>
	    
	    <div class="tab-pane" class="tab-pane" id="tab2">
	        <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('jobtermination_id')); ?>
                        <?php echo $this->formElement($form->get('jobtermination_id')); ?>
                        <?php echo $this->formElementErrors($form->get('jobtermination_id')); ?>
                    </div>    
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('terminationemployment')); ?>
                        <?php echo $this->formElement($form->get('terminationemployment')); ?>
                        <?php echo $this->formElementErrors($form->get('terminationemployment')); ?>
                    </div>
                </div>
            </div>
	    </div>
   	</div>
</div>

<?php echo $this->formElement($form->get('id')); ?>

<?php echo $this->form()->closeTag() ?>
