<?php $this->headTitle()->prepend($this->translate('Work Experience')); ?>

<?php echo $this->toolbar(true); ?>


<div class="row header">
    <div class="col-lg-2 pull-right"><br/><br/>
    	<?php echo $this->versions(); ?>
    </div>
    <div class="col-lg-10">
        <div class="page-header">
            <h1><i class="fa fa-list"></i> <?php echo $this->translate('Work Experience') ?> <small><?php echo $this->translate('Tell me about your work experience') ?></small></h1>
            <?php echo $this->translate('This is the list of all your work experiences.') ?>
        </div>
    </div>
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>

<?php echo $this->grid ?>

<hr />
<a class="btn btn-default" href="<?php echo $this->url('cv/we', array('action' => 'add'));?>"><span class="fa fa-plus"></span> <?php echo $this->translate('Add Work Experience') ?></a>