<?php $file = $this->file; ?>

<h2><?php echo $this->translate('We are apologise but the attachment has not been found!')?></h2>
<p><?php echo sprintf($this->translate('The attachment file %s has not been found.'), "<strong>" . $file->getOriginalFilename() . "</strong>") ?></p>

<p><?php echo $this->translate('What can I do now?') ?>

<ul>
  <li><?php echo $this->translate('Contact the owner of the Curriculum Vitae by his/her email address') ?></li>
  <li><?php echo $this->translate('Contact the EuroCv support staff by the contact page') ?></li>
  <li><?php echo $this->translate('Go back to the Curriculum Vitae page') ?></li>
</ul>


<a class="btn btn-success" href="/"><?php echo $this->translate('Back') ?></a>