<?php $this->headTitle()->prepend($this->translate('Welcome to EuroCv.eu - Curriculum Vitae in European format on line')); ?>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover">
			    <img width="237" height="216" src="/img/logo_eurocv.png"/>
				<p class="lead"><?php echo $this->translate('Create your online CV once and for all. The entire world will be able to use a simple link to access your curriculum, and it will be visible without any advertisements.')?> <?php echo $this->translate("It's free and without ads!")?></p>
				<p class="lead">
					<a href="/user/register" class="btn btn-lg btn-default"><?php echo $this->translate('New European Curriculum') ?></a>
				</p>
			</div>
		</div>
	</div>
</div>