<h2><?php echo sprintf($this->translate('Are you really looking for %s.eurocv.eu ?'), "<strong>" . $this->pac . "</strong>")?></h2>
<p><?php echo sprintf($this->translate("http://%s.eurocv.eu doesn't exist in eurocv.eu."), "<strong>" . $this->pac . "</strong>") ?></p>

<p><?php echo $this->translate('What can I do now?') ?>
<ol>
  <li><?php echo $this->translate('Try to find out the Curriculum Vitae you are looking for by inserting the last name in the search box') ?></li>
  <li><?php echo sprintf($this->translate('The %s.eurocv.eu is available to create a new Curriculum Vitae'), "<strong>" . $this->pac . "</strong>") ?></li>
  <li><?php echo $this->translate('Contact the EuroCv support staff by the contact page') ?></li>
  <li><?php echo $this->translate('Go back to the homepage') ?></li>
</ol>

<hr/>
<a class="btn btn-info" href="<?php echo $this->url('www') ?>"><?php echo $this->translate('Homepage') ?></a>
<a class="btn btn-info" href="<?php echo $this->url('contact') ?>"><?php echo $this->translate('Contact us') ?></a>
<a class="btn btn-success" href="<?php echo $this->url('www') ?>user/register"><?php echo $this->translate('Create a new Curriculum Vitae') ?></a>