<?php 

    $locale = $this->locale;
    $user = $this->user;
    $we = $this->we;
    $et = $this->et;
    $ol = $this->ol;
    $cs = $this->cs;
    $cl = $this->cl;
    
    $fullname = $user->getFirstname() . " " . $user->getLastname();
    
    $this->headTitle()->prepend(sprintf($this->translate("%s's Curriculum Vitae et Studiorum - Europass"), $fullname));
//     $this->headMeta()->appendName('description', $user->getKeywords());
    $this->headMeta()->appendName('keywords', $user->getKeywords());
    
    echo $this->partial('application/partial/menu.phtml', array('locale' => $locale, 'user' => $user, 'cl' => $cl)); 
?>

<div class="tab-content">
    <div id="tab1" class="tab-pane active"> 
    
        <div class="resume br-white">
                
            <?php echo $this->partial('application/partial/pd.phtml', array('user' => $user)); ?> 
            <?php echo $this->partial('application/partial/we.phtml', array('user' => $user, 'we' => $we)); ?> 
            <?php echo $this->partial('application/partial/et.phtml', array('user' => $user, 'et' => $et)); ?> 
            
            <div class="row">
                <div class="col-sm-3 left-column section-header">
                    <h5><?php echo $this->translate('Personal Skills') ?></h5>
                </div>
                <div class="col-sm-9 border-bottom"></div>
            </div>
            
            <div class="row">
                <div class="col-sm-3 left-column">
                    <?php echo $this->translate('Mother tongue(s)') ?>
                </div>
                <div class="col-sm-9"><?php echo $this->language($user->getMothertongueId()); ?></div>
            </div>
            
            <?php echo $this->partial('application/partial/ol.phtml', array('user' => $user, 'ol' => $ol)); ?> 
            <?php echo $this->partial('application/partial/cs.phtml', array('user' => $user, 'cs' => $cs)); ?> 
            
            <div class="row">
                <div class="col-sm-3 left-column section-header">
                    <h5><?php echo $this->translate('Additional information') ?></h5>
                </div>
                <div class="col-sm-9 border-bottom"></div>
            </div>
            
            <div class="row">    
                <div class="col-sm-3 left-column">
                    <?php echo $this->translate('Annexes') ?>
                </div>
                <div class="col-sm-9 ">
                    <?php echo $this->attachments($user->getId(), $user->getTranslationId(), null, null, null) ?>
                </div>
            </div>
            
            <br/><br/>    
            <div class="text-right">
                <span class="label label-warning" title="<?php echo sprintf($this->translate('This curriculum has been updated at %s'), $this->datetime($user->getUpdatedat())) ?>"><i class="fa fa-calendar"></i> <?php echo $this->datetime($user->getUpdatedat())?></span>
                <?php if($user->getVisits()): ?><span class="label label-info" title="<?php echo sprintf($this->translate('This curriculum has been seen %s times'), $user->getVisits()) ?>"><i class="fa fa-eye"></i> <?php echo $user->getVisits()?></span><?php endif;?>
                <?php if($user->getDownload()): ?><span class="label label-success" title="<?php echo sprintf($this->translate('This curriculum has been downloaded %s times'), $user->getDownload()) ?>"><i class="fa fa-download"></i> <?php echo $user->getDownload()?></span><?php endif;?>
            </div>
        </div>
    </div>
    <div id="tab2" class="tab-pane">
        <?php echo $this->partial('application/partial/cl.phtml', array('user' => $user, 'cl' => $cl)); ?> 
    </div> 
</div>


<?php if($user->getGanalytics()): ?>
    <?php $this->placeholder('ganalytics')->set($user->getGanalytics()) ?>
<?php endif; ?>