<?php $this->headTitle()->prepend($this->translate('Languages')); ?>

<?php echo $this->toolbar(true); ?>

<?php 
    $form = $this->form;
    $form->prepare();
    $form->setAttribute('action', $this->url(NULL, array('controller'=>'ol', 'action' => 'process')));
    $form->setAttribute('method', 'post');
    $idEl = $form->get('id');
    echo $this->form()->openTag($form);
?>

<div class="row header">
    <div class="col-lg-12">
        <h2><?php echo $this->translate('Languages') ?></h2>
        <p><?php echo $this->translate('Do you speak another language? Please indicate the language name and evaluate your skills.') ?></p>
    </div>
    
    <?php if ($this->error): ?>
        <div class="col-lg-12">
            <div class="alert alert-warning">
                <?php echo $this->translate('There were one or more isues with your submission. Please correct them as indicated below.') ?>
            </div>
        </div>
    <?php endif ?>
</div>


<div class="text-right">
    <a href="/cv/ol/add" class="btn btn-default"><i class="fa fa-file"></i> <?php echo $this->translate('Add new')?></a>
    <?php echo $this->formElement($form->get('submit')); ?>
    <?php if($idEl->getValue()): ?><a href="/show/<?php echo $this->pac ?>#ol<?php echo $idEl->getValue() ?>" class="btn btn-primary active"><i class="fa fa-share"></i> <?php echo $this->translate('Show')?></a><?php endif; ?>
    <a href="/cv/ol/list" class="btn btn-info"><i class="fa fa-bars"></i> <?php echo $this->translate('List')?></a>
    <?php if($idEl->getValue()): ?><a onclick="return confirm('<?php echo $this->translate('Are you sure?')?>')" href="/cv/ol/delete/<?php echo $idEl->getValue() ?>" class="btn btn-warning"><i class="fa fa-trash-o"></i> <?php echo $this->translate('Delete')?></a><?php endif; ?>
</div>

<div class="tabbable" id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tab1"><?php echo $this->translate('Main');?></a></li> 
		<li><a data-toggle="tab" href="#tab2"><?php echo $this->translate('Options');?></a></li> 
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="tab1"> 
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('lang_id')); ?>
                        <?php echo $this->formElement($form->get('lang_id')); ?>
                        <?php echo $this->formElementErrors($form->get('lang_id')); ?>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                    	<?php echo $this->formLabel($form->get('certificate')); ?>
                    	<div class="input-group">
                    		<span class="input-group-addon"><span class="fa fa-file-text-o"></span></span>
	                        <?php echo $this->formElement($form->get('certificate')); ?>
	                        <?php echo $this->formElementErrors($form->get('certificate')); ?>
		                </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('understanding_listening')); ?>
                        <?php echo $this->formElement($form->get('understanding_listening')); ?>
                        <?php echo $this->formElementErrors($form->get('understanding_listening')); ?>
                    </div>        
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('understanding_reading')); ?>
                        <?php echo $this->formElement($form->get('understanding_reading')); ?>
                        <?php echo $this->formElementErrors($form->get('understanding_reading')); ?>
                    </div>        
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('spoken_interaction')); ?>
                        <?php echo $this->formElement($form->get('spoken_interaction')); ?>
                        <?php echo $this->formElementErrors($form->get('spoken_interaction')); ?>
                    </div>        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('spoken_production')); ?>
                        <?php echo $this->formElement($form->get('spoken_production')); ?>
                        <?php echo $this->formElementErrors($form->get('spoken_production')); ?>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('writing')); ?>
                        <?php echo $this->formElement($form->get('writing')); ?>
                        <?php echo $this->formElementErrors($form->get('writing')); ?>
                    </div>
                </div>
            </div>
            
	    </div>
	    
	    <div class="tab-pane" class="tab-pane" id="tab2">
	        <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <?php echo $this->formLabel($form->get('visible')); ?>
                        <?php echo $this->formElement($form->get('visible')); ?>
                        <?php echo $this->formElementErrors($form->get('visible')); ?>
                    </div>    
                </div>
            </div>
        </div>
   	</div>
</div>

<?php echo $this->formElement($form->get('id')); ?>

<?php echo $this->form()->closeTag() ?>
